h2{
    text-align: center;
    margin-top: 2%;
}
.wrapper{
    width: 50%;
    margin: auto;
}
.form-card{
    display: flex;
    background: lightgray;
    padding: 8%;
    justify-content: center;
    flex-direction: column;
}
textarea{
    height: 200px !important;
}